<!-- index.html.erb -->
<div class="banner"  style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%); background-image: url(<%= asset_path('logo.jpg') %>);">
  <div class="banner-content text-center">
    <h1>MIXTURES</h1>
    <div class="container">
      <div class="row">
        <% @cocktails.each do |c| %>
          <div class="col-xs-12 col-sm-4">
            <div>
              <%= link_to cocktail_path(c), class: "card-link" do %>
                <%= image_tag c.photo.url(:thumb) %>
              <% end %>
              <div >
                <h2><%= c.name %></h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <p></p>
  </div>
</div>


