<!-- index.html.erb -->
<h1 class="text-center">Magic Shaky Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "cocktail_card", cocktail: c %>
        <%= link_to "show", cocktail_path(c), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>
